body{
	background-color:#444
}

.container-grid{
	display: grid;
	grid-template-columns: 50% 50%;
}

#container-gameinfo {
	height: 600px;
	background-color: #888;
	border: 3px solid #444;
	overflow-y: auto;
}

#container-links-gameinfo{
	background-color: #444;
	height: 36px;
	clear: left;
}

.link-gameinfo{
	float: left;
	background-color: #555;
	color: #F4F4F4;
	padding: 8px 36px;
}

#container-tabs-gameinfo{
	clear:left;
}

.content-gameinfo {
	display: none;
}

#container-log{
	overflow-y: auto;
	background-color: #888;
}

.log-entry{
	padding: 3px;
	background-color: #444;
	margin: 2px;
	color: #F4F4F4;
	white-space: pre-wrap;
}

#container-gameplay{
	height: 600px;
	background-color: firebrick;
	border: 3px solid #444;
	overflow-y: auto;
}

#container-buttons{
	background-color: #444;
	color: #F4F4F4;
	font-weight: bold;
	height: 36px;
}
.button-entry {
	background-color: #555;
	color: #F4F4F4;
	padding: 8px 36px;
}

#container-locations {
	border-bottom: solid 6px #444;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #888;
	height: 264px;
}

.location {
	margin: 3px;
	display: flex;
	align-items: center;
	justify-content: center;
	outline: 3px solid #888;
	background-color: #444;
	text-align:center;
	color: #F4F4F4;
	height: 125px;
	width: 125px;
	white-space: pre-wrap;
}

#container-inventory {
	background-color: #888;
	display: flex;
	height: 294px;
	overflow-y: auto;
}
.inventory-item {
	margin: 3px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #444;
	text-align:center;
	color: #F4F4F4;
	height: 75px;
	width: 75px;
	white-space: pre-wrap;
}
