html {
	padding: 0;
	margin: 0;
	color: #96dd99;
}

body{
	font-size: 1.1vmax;
	padding: 0;
	margin: 1%;
	height: 95svh;
	background-color:#444;
	color: default;
}

.container-grid{
	height: 100%;
	display: grid;
	grid-template-columns: 60% 40%;
}

#container-gameinfo {
	height: 100%;
	background-color: #888;
	box-shadow:inset 0px 0px 0px 0.1em #444;
	overflow-y: auto;
}

#container-links-gameinfo{
	background-color: #444;
	height: 5%;
	clear: left;
}

.link-gameinfo{
	border-style: none;
	height: 100%;
	float: left;
	padding-inline: 5%;
	background-color: #555;
	color: #F4F4F4;
	font-size: 0.9em;
}

.link-gameinfo:hover {
	filter: brightness(120%);
}

#container-tabs-gameinfo{
	padding: 0.1em;
	height:95%;
	clear:left;
	box-shadow:inset 0px 0px 0px 0.1em #444;
}

.content-gameinfo {
	display: none;
}

#container-log{
	overflow-y: auto;
	background-color: #888;
}

.log-entry{
	margin-bottom: 0.1em;
	background-color: #444;
	color: #F4F4F4;
	white-space: pre-wrap;
}

#container-gameplay{
	height: 100%;
	background-color: firebrick;
	overflow-y: auto;
}

#container-buttons{
	height: 5%;
	background-color: #444;
	color: #F4F4F4;
	font-weight: bold;
}

.button-entry {
	border-style: none;
	height: 100%;
	padding-inline: 5%;
	background-color: #555;
	color: #F4F4F4;
	font-size: 0.9em;
}

.button-entry:hover {
	filter: brightness(120%);
}

#container-locations {
	height: 47.5%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background-color: #888;
	box-shadow:inset 0px 0px 0px 0.1em #444;
	overflow-y: auto;
}

.location {
	margin:	3px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #444;
	text-align: center;
	font-size: 0.9em;
	color: #F4F4F4;
	white-space: pre-wrap;
	height: 25%;
	width: 10%;
}

.location:hover {
	filter: brightness( 120% );
}

#container-inventory {
	height: 47.5%;
	background-color: #888;
	display: flex;
	overflow-y: auto;
	box-shadow:inset 0px 0px 0px 0.1em #444;
}

.inventory-item {
	margin: 1%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #444;
	text-align:center;
	font-size: 0.9em;
	color: #F4F4F4;
	height: 25%;
	width: 10%;
	white-space: pre-wrap;
}

.inventory-item-usable {
	margin: 1%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #444;
	text-align:center;
	font-size: 0.9em;
	color: #F4F4F4;
	height: 25%;
	width: 10%;
	white-space: pre-wrap;
}

.inventory-item-usable:hover {
	filter: brightness( 120% );
}
